@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

p{
	font-size:16px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    color: #000; 
  font-size: 2em;
  font-family:roboto, sans-serif;
  font-style: normal;
  font-weight:bold;
  text-align:center;
}

.one{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    height: 100%;
}

#bigimage {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    width: 61%; 
    float:left;
} 

#words {
  width:32%;
  float:right;
  background-color: #E89C6C;
  border: 1px black solid;
  padding:20%,20px,20%,20px;
}

.words p{
 left:10px;
}


:after{
  content: "";
  display:block;
  clear:both;
}
 
nav {
 	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
 }

 nav img {float:left; width:6%;} 

 .clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.two{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

.Column{
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    float:left;
    display:inline-block;
    width:20%
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}