body {
    background-color: white;
}

h1 {
  color: #000; 
  font-size: 54px;
  font-family:Arial, sans-serif;
  font-style: normal;
  font-weight:bold;
  text-align:center;

}

p {
  padding-top: 380px;
  color: #696969;
  font-size: 20px;
  font-family:times, sans-serif;
  font-style:normal;
  font-weight:normal;
  text-align:left;
}

<h2> {
  color: #FF9900;
  font-size: 20px;
  font-family:times, sans-serif;
  font-style:normal;
  font-weight:normal;
  text-align:left;

}
