*,
*:before,
*:after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
    background-color: white;
}

.left {
  width:70%; 
  float:left;
}

.left img{
  display:block;
  width:100%;
}

.right{
  height:0;
  padding-bottom: 30%;
  position:relative;
  width:30%;
  float:right;
}

.right p{
  position:absolute;
  bottom:0;
  left:10px;
}

header:after{
  content: "";
  display:block;
  clear:both;
}

header{
  border-bottom: 1px solid black; 
}

h1 {
  color: #000; 
  font-size: 54px;
  font-family:Arial, sans-serif;
  font-style: normal;
  font-weight:bold;
  text-align:center;
  border-bottom: 1px solid black; 
}

p {
  color: #696969;
  font-size: 20px;
  font-family:times, sans-serif;
  font-style:normal;
  font-weight:normal;
  text-align:left;
}

<h2> {
  color: #FF9900;
  font-size: 20px;
  font-family:times, sans-serif;
  font-style:normal;
  font-weight:normal;
  text-align:center;

}
