body {
    background-color: white;
}

h1 {
  color: black; 
  font-size: 54px;
  font-family:Arial, sans-serif;
  font-style: normal;
  font-weight:bold;
  text-align:center;

}

p {
  color: 793F0D;
  font-size: 20px;
  font-family:times, sans-serif;
  font-style:normal;
  font-weight:normal;
  text-align:left;
}